
body{
		min-height: 100vh;
}
/*body::before{
     	content: "";
      background-image: url('img/broderie-rose-fond.png');
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.2;
      z-index: -10;
}*/
.image_background{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      z-index: -10;
      transition: opacity 1200ms;
}
.img_bg_display{
	opacity: 0.3;
}

section{
	position: relative;
	
}
h1{
	font-family: 'Cookie', cursive;
	font-weight: 600 !important;
	font-size: 6rem !important;
}
@media screen and (max-width: 890px) {
		#settings_button_mobile{
			display: block;
			cursor: pointer;
		}
		#settings_button_span_mobile{
			font-size: 5rem;
			color: black;

		}
		#settings_button{
			display: none;
		}
}


@media screen and (min-width: 890px) {
	#settings_button_mobile{
		display: none;
	}
	#settings_button{
		position: absolute;
		right: 5vw;
		top: 2vh;
		cursor: pointer;

	}
	#settings_button_span{
		font-size: 5rem;
		color: black;
	}
	#settings_window{
		z-index: 10;
		width: 30vw;
		height: auto;
		position: absolute;
		right: 4vw;
		top: 6vh;
		color: black;
		/*background-color: #EFEFEF;*/
		border: 3px solid gray;
		border-radius: 8px;
	}
	#settings_window input[type=range]{
		max-width: 65%;
	}
	#settings_window input[type=number]{
		max-width: 20%;
	}
	#label_lignes, #label_columns {
		display: block;
	}

}
#section_param{
	overflow: visible ;
}
#label_param{
	font-size: 2.5rem;
	font-weight: 350;
}

#arrow_downward_1, #arrow_downward_2{
	font-size: 2.25rem;
	transition: 1s;
}
#arrow_downward_1:hover{
	transform: rotate(-90deg);
}
#arrow_downward_2:hover{
	transform: rotate(90deg);
}
.card-link:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}
#form_param{
	font-size: 1.3rem;
}
#output_num1, #output_num2{
	font-size: 1.75rem;
	font-weight: 600;
}
#taille_actual{
	font-size: 2rem;
	font-weight: 350;

}
#lines_game, #columns_game{
	width: 300px;
}
#game_plan{
	width: 90vw;
	max-width: 800px;
}
#game_inner{
	/*border: 1px solid black;*/
}
.line_game_plan{
	margin: 0;
	padding: 0;
	/*display: flex;
	flex-direction: row;*/

}
.game_case{
	margin: 0;
	padding: 0;
	background-color: #373737;
	border: 1px solid black;
	max-width: 25px;
	max-height: 25px;
	cursor: pointer;
	

}
.game_case_o{
		/*background-color: #B8B8B8;*/
		background-color: transparent;
		cursor: default;
		font-weight: 900;
}
.game_case_mine{
		color: red;
		font-weight: 700;
		background-color: transparent !important;
		background-image: url('img/mine_67_68_micro.png') !important;
		z-index: 10;
}

#label_loose, #label_win{
	display: none;
	font-size: 2rem;
	font-weight: 350;

}


