:root {
  --bg_color_settings: #E0F1FF;
	--bg_color_game_case: #373737;
}
body{
	height: auto;
		overflow-x: hidden;
}
/*body::before{
     	content: "";
      background-image: url('img/broderie-rose-fond.png');
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.2;
      z-index: -10;
}*/
.image_background{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
      opacity: 0;
      z-index: -10;
      transition: opacity 1200ms;
}
.img_bg_display{
	opacity: 0.6;
}

section{
	position: relative;
	
}
h1{
	font-family: 'Cookie', cursive;
	font-weight: 600 !important;
	font-size: 6rem !important;
}

#form_param input[type=submit]{
	font-weight: 500;
	font-size: 2rem;
	border-width: 3px;
}

@media screen and (max-width: 720px) {


	#settings_button_mobile{
		display: block;
		cursor: pointer;
		position: relative;
		top: 16px;
	}
	#settings_button_span_mobile{
		font-size: 5rem;
		color: black;

	}
	#settings_button{
		display: none;
	}

	#settings_window{
		z-index: 60;
		width: 75vw;
		height: auto;
		position: absolute;
		left: 0; 
		right: 0; 
		margin-left: auto; 
		margin-right: auto; 		
		color: black;
		background-color: var(--bg_color_settings);
		border: 3px solid black;
		border-radius: 15px;

	}
	#settings_window input[type=range]{
		max-width: 65%;
	}
	#settings_window input[type=number]{
		max-width: 20%;
	}
	#label_lignes, #label_columns {
		display: block;
	}		
}


@media screen and (min-width: 720px) {


	#settings_button_mobile{
		display: none;
	}
	#settings_button{
		position: relative;
		top: 21px;		
		cursor: pointer;

	}
	#settings_button_span{
		font-size: 4rem;
		color: black;
	}
	#settings_window{
		z-index: 60;
		min-width: 270px;
		max-width: 440px;
		width: 30vw;
		height: auto;
		position: absolute;
		left: 60vw;
		top: 0vh;
		color: black;
		background-color: var(--bg_color_settings);
		border: 3px solid black;
		border-radius: 15px;
	}
	#settings_window input[type=range]{
		max-width: 65%;
	}
	#settings_window input[type=number]{
		max-width: 22%;
	}
	#label_lignes, #label_columns {
		display: block;
	}

}

#banniere_haut{
	max-width: 907px;
}
#section_param{
	/*overflow: visible ;*/
}
#icon_info{
	/*display: inline-block;*/
	color: black;
	position: absolute;
	top: 6px;
	left: 5px;
}
#icon_info_icon{
	font-size: 2rem !important;
}
#site_title_modal{
	font-family: 'Cookie', cursive;
	font-weight: 600 !important;
	font-size: 2.8rem;
	line-height: 0.55rem;
}
#number8{
	color: blueviolet;
	font-size: 1.5rem;
  position: relative;
  top: 4px;
  line-height: 0.8rem;
	
}
.fa {
  /*padding: 20px;*/
  position: relative;
  top: 7px;
  font-size: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 30%;
}

.fa .fa_sm :hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: #161b22;
  color: white;
  position: relative;
  top: 7px;
  left: 3px;

}
#label_param{
	font-size: 2.5rem;
	font-weight: 350;
}

#arrow_downward_1, #arrow_downward_2{
	font-size: 2.25rem;
	transition: 1s;
}
#arrow_downward_1:hover{
	transform: rotate(-90deg);
}
#arrow_downward_2:hover{
	transform: rotate(90deg);
}
.card-link:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}
#form_param{
	font-size: 1.3rem;
}
#output_num1, #output_num2{
	font-size: 1.75rem;
	font-weight: 600;
}
#taille_actual{
	font-size: 2rem;
	font-weight: 350;

}

@media screen and (max-width: 570px) {
#taille_actual{
	font-size: 1.5rem;

}
h1{
	font-size: 5rem !important;
	position: relative;
	top: 8px;	
}

}
@media screen and (max-width: 430px) {
#taille_actual{
	font-size: 1.25rem;

}
h1{
	font-size: 4rem !important;
	position: relative;
	top: 15px;
}

}
#lines_game, #columns_game{
	width: 300px;
}
#game_plan{
	width: 90vw;
	max-width: 800px;
}
#game_inner{
	/*border: 1px solid black;*/
}
.line_game_plan{
	margin: 0;
	padding: 0;

}
.game_case{
	margin: 0;
	padding: 0;
	background-color: var(--bg_color_game_case);
	border: 1px solid black;
	max-width: 25px;
	max-height: 25px;
	cursor: pointer;
	

}
.game_case_o{
		/*background-color: #B8B8B8;*/
		background-color: transparent;
		cursor: default;
		font-weight: 900;
}
@media screen and (max-width: 530px) {
.game_case_o{

		font-weight: 700;
}
}
.game_case_mine{
		color: red;
		font-weight: 700;
		background-color: transparent !important;
		background-image: url('img/mine_67_68_micro.png') !important;
		background-position: center;
		z-index: 10;
}
#labels_end{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 60%;
	z-index: 50;
}
#label_loose, #label_win{
	display: none;

	/*position: relative;
	left: -15px;*/
	max-width: 595px;
	background-color: var(--bg_color_settings);
	border: 4px solid black;
	border-radius: 15px;

	font-size: 2rem ;
	font-weight: 500;
	animation-name: descale_labels_win_loose;
  animation-duration: 0.8s;
  

}
@keyframes descale_labels_win_loose {
  0%   {transform: scale(2,2);}
  100% {transform: scale(1,1);}
}
#form_new_game_loss input[type=submit], #form_new_game_win input[type=submit]{

	font-size: 2rem !important;
	border-width: 3px;
	max-width: 100%;

}
footer {
	position: absolute;
	width: 100%;
	bottom: -0%;
	z-index: 50;
  

}
@media screen and (max-width: 720px) {


footer {
	position: absolute;
	width: 100%;
	bottom: 0%;
	z-index: 50;
  
  
}
}


#footer-wrapper{
	max-width: 595px;
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg_color_settings); 
	border: 3px solid black;
	border-radius: 10px;
	
}
#footer-text-contact {
    width: fit-content;
    height: 75%;
}


#footer-text-copyright {
    width: fit-content;
    height: 75%;

}

